{% extends 'email/_layouts/_cta.html' %}
{% block title %}
    Get back to PmDragon
{% endblock %}
{% block greetings %}
    Hi {{ person.first_name }} {{ person.last_name }},
{% endblock %}
{% block content %}
    <p>Get back to PmDragon in no time. </p>
    <p>Your login is: {{ person.user.username }}</p>
{% endblock %}
{% block additional_content %}
    Please follow link and set a new password for your profile in PmDragon.
{% endblock %}
{% block details %}
    <a href="{{ action_link }}" target="_blank" rel="noopener" style="border: solid 1px #404040; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-decoration: none; text-transform: capitalize; background-color: #404040; border-color: #404040; color: #ffffff;">Restore</a>
{% endblock %}
