[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2-binary = "==2.8.6"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
Pillow = "*"
uvicorn = "*"
celery = "*"
bleach = "*"
django-filter = "*"
djangochannelsrestframework = "*"
channels-redis = "*"
channelsmultiplexer = "*"

[dev-packages]

[requires]
python_version = "3.9"
