[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangochannelsrestframework = "*"
django-cors-headers = "*"
Pillow = "*"
uvicorn = "*"
psycopg2-binary = "*"
celery = "*"
bleach = "*"
django-filter = "*"
channels-redis = "*"
channelsmultiplexer = "*"
django-on-heroku = "*"
sentry-sdk = "==1.4.3"
boto3 = "*"
django-storages = "*"
websockets = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
