{% load static %}<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="An open-source project management tool to track tasks, epics, bugs,
          and manage it with agile boards and sprints.">
    <meta name="author" content="Vladimir Shturmer">
    <title>PmDragon - An open-source project management tool, adjusted to SCRUM</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel=icon type=image/png sizes=32x32 href="{% static 'icons/favicon-32x32.png' %}">
    <link rel=icon type=image/png sizes=16x16 href="{% static 'icons/favicon-16x16.png' %}">
    <link rel=mask-icon href="{% static 'icons/safari-pinned-tab.svg' %}" color=#5bbad5>
    <meta name=msapplication-TileColor content=#da532c>
    <meta name=theme-color content=#393939>
    <link rel=icon type=image/ico href={% static 'icons/favicon.ico' %}>
    <link href="{% static 'index/cover.css' %}" rel="stylesheet">
    <meta name="theme-color" content="#7952b3">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <div id="app" class="w-100 h-100">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-2">
            <div>
                <h3 class="float-md-start">
                  PmDragon
                </h3>
                <nav class="nav nav-masthead justify-content-center float-md-end" style="display: none">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#" style="display: none">Contact</a>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <div class="justify-content-center">
                <img src="{% static 'index/logo_dark.svg' %}" height="125" width="125" alt="PmDragon Logo">
            </div>
            <h1 class="py-2">Project management tool</h1>
            <p class="lead">Cross-platform client for
                <a href="https://github.com/cybersturmer/pmdragon-core-api" target="_blank" class="text-white fw-bold text-decoration-none">
                    <i class="fas fa-cloud fa-sm"></i> PmDragon API
                </a>
            </p>
            <h6>
                Release v{% templatetag openvariable %} version {% templatetag closevariable %}
                {% templatetag openvariable %} timestamp {% templatetag closevariable %}
                (<a href="https://sourceforge.net/projects/pmdragon/files/"
                    class="text-white fw-bold text-decoration-none">
                    show all
                </a>)
            </h6>
            <ul class="nav nav-pills justify-content-center mt-3" id="pills-tab" role="tablist">
              <li v-for="env in envs" class="nav-item" role="presentation">
                <button :class="`nav-link ${env.alias === defaultEnvAlias ? 'active' : ''}`"
                        :key="env.alias"
                        :id="`pills-${env.alias}-tab`"
                        data-bs-toggle="pill"
                        :data-bs-target="`#pills-${env.alias}`"
                        type="button"
                        role="tab"
                        :aria-controls="`pills-${env.alias}`"
                        aria-selected="true">
                        <i :class="env.icon"></i>
                        <span>&nbsp;&nbsp;{% templatetag openvariable %} env.title {% templatetag closevariable %}</span>
                </button>
              </li>
            </ul>
            <div class="tab-content py-3 px-5" id="pills-tabContent">
              <div v-for="env in envs"
                   :key="`${env.alias}-panel`"
                   :class="`tab-pane fade show px-md-5 ${env.alias === defaultEnvAlias ? 'active': ''}`"
                   :id="`pills-${env.alias}`"
                   role="tabpanel"
                   :aria-labelledby="`pills-${env.alias}-tab`">
                   <table class="table table-bordered table-striped table-dark">
                     <tbody>
                       <tr v-for="release in releases[env.alias]">
                         <td class="col-10">
                           <a :href="`https://sourceforge.net/projects/pmdragon/files/${version}/${release.filename}/download`"
                              target="_blank"
                              class="fw-bold text-white text-decoration-none">
                               {% templatetag openvariable %} release.title {% templatetag closevariable %}
                           </a>
                          </td>
                         <td class="col-2">{% templatetag openvariable %} release.size {% templatetag closevariable %}</td>
                       </tr>
                     </tbody>
                   </table>
              </div>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>PmDragon is an MIT-licensed open source project.</p>
            <p>Copyright ©2020-present
                <a href="https://t.me/cybersturmer" class="text-white fw-bold">
                    Vladimir Shturmer
                </a>
            </p>
            <div style="height: 65px" class="overflow-hidden">
                <a href='https://play.google.com/store/apps/details?id=com.cybersturmer.pmdragon.pmdragonce&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
                >
                    <img alt='Get it on Google Play'
                         src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
                         height='65'/>
                </a>
                <a href="https://github.com/cybersturmer/pmdragon-client"
                   target="_blank"
                   class="align-items-center fw-bold text-white text-decoration-none">
                    <i class="fab fa-github fa-lg"></i> GitHub
                </a>
            </div>
        </footer>
      </div>
    </div>
    <!-- Import application -->
    <script src="{% static 'index/main.js' %}"></script>

    <!-- Mount application -->
    <script>
      const $releases = {{ releases|safe }}
      const $version = "{{ version }}"
      const $timestamp = "{{ timestamp }}"
      const mountedApp = app.mount('#app')
    </script>
    <script>

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js" integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD" crossorigin="anonymous"></script>
</body>
